@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    color: #324960;
    margin: 0;
    /* width: 100%; */
}

header {
    width: 100%;
    margin-top: 0px;
    height: auto;
    max-height: 340px;
    background-color:#fff;
    z-index: 1;
    position: fixed;
}

/* Logo: currently text but will be replaced by a designed logo image in the future */
#logo {
    float: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.8em;
    font-weight: 500;
    color: #9c6813;
    margin-left: 2%;
}

/* Menu - navigation bar */
#menu {
    font-size: 0.6em;
    font-weight: 500;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 2%;
}

#menu a {
    text-decoration: none;
    color: #9c6813;
}

#menu a:hover {
    color: #324960;
    border-bottom: 2px solid #324960;
}

#logo,
#menu {
    line-height: 75px;
}

h1,
h2,
h3 {
    font-weight: 700;
}

p {
    padding-top: 1.5em;
}

/* SECTION 1: HERO */
#hero {
    height: 600px;
    width: 100%;
    background: #eeece8;
    overflow: hidden;
    position: relative;
}

#hero_image {
    height: 600px;
    width: 100%;
    background: url("../images/hero_img.jpg") no-repeat center center;
}

#hero_intro {
    background-color: #fff;
    opacity: 0.75;
    font-weight:bold;
    text-align: center;
    transform: translate(-50%, -50%);
    top:50%;
    left:50%;
    position: absolute;
}

/* SECTION 2: PROJECT - 3 containers */
#project {
    height: 900x;
    width: 100%;
}

span {
    font-size: 0.7em;
    color: #324960;
    padding-top: 20px;
}

/* CONTAINER 1: about Palmela village and the area*/
#container_1 {
    background-color: #eeece8;
}

.pal_div {
    padding: 20px;
    margin: 0 10px 0 10px;
    flex: 1;
}

.pal_div>h2,h3 {
    text-align: center;
    margin-bottom: 10px;
}

.pal_div>img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    bottom: 0px;
}

.center_heading {
    text-align: center;
    color: #9c6813;
    font-size: 2em;
    font-weight: 700px;
    margin: 30px 20px;
}


/* CONTAINER 2: Villa layout */
#container_2 {
    background-color:#324960;
    padding: 20px;
    margin: 0 auto;
}

#v2_img_130 {
    border:#9c6813 8px solid;
    padding: 0;
}

ol {
    margin: 0 4em 4em;
}

ol li {
    margin: .75em;
    color:#fff;
    font-size: 1.2em;
}
 
.v2 > h2 {
    margin: 3em 2em 4em;
    color:#fff;
}

.v2 {
    max-width: 300px;
    padding: 0;
    flex: 1;
}

/* CONTAINER 3: Mokeup images*/
#container_3 {
    background-color:#324960;
    padding: 20px;
    margin: 0 auto;
}

.mokeup_img {
    width: 300px;
    height: 200px;
    box-sizing: border-box;
    margin-top: 20px;
   }

/* SECTION 3: THE TEAM */
#team_container{
    background-color:#eeece8;
    width: 100%;
    margin: 0 auto;
    }

.about_div {
    padding: 2%;
    color:#fff;
    background-color:#324960;
}

.about_div img {
    max-width: 100%;
    height: 300px;
    margin: 0 auto;
}

.about_div h2 {
    text-align: center;
    line-height: 3em;
}

.about_div p {
    font-size: 0.8em;
    padding: 2%;
}

/* SECTION 4 CONTACT: "GET IN TOUCH */
#contact_container {
    background-color:#eeece8;
    padding: 20px 20px;
}

 /* CONTACT - FORM */
#contact_form {
    padding-bottom: 10px;
}

 #fname, #lname, #email {
    width: 250px;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 3px;
    border: 1px solid #9c6813;
 }

#message {
    width: 280px;
    height: 200px;
    border-radius: 3px;
    border: 1px solid #9c6813;
}

.button {
    color: #fafafa;
    background-color:  #9c6813;
    border-radius: 3px;
    padding: 15px 30px 15px 30px;
    text-align: center;
    font-size: 0.8em;
    display: block;
}

.button:hover {
    background-color:#324960;
    color: #fafafa;
}

/* CONTACT - CONTACT TEXT */
#contact_txt {
    padding: 10px 20px 20px 10px;
  }

#contact_txt p > a {
    color:#324960;
}


#contact_txt p > a:hover {
    color:#9c6813;
}

h2#visit {
     margin-top: 1.5em;
}

/* CONTACT - RESPONSIVE GOOGLE MAP */

 .map_responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height:0;
 }
 
 .map_responsive iframe{
     left: 0;
     top: 0;
     height: 100%;
     width: 100%;
     padding-right: 20px;
     position: absolute;
 }

/* FOOTER*/
footer {
    height: 75px;
    width: 100%;
    background-color:#eeece8;
    margin: 0 auto;
    padding-bottom: 30px;
}

.footer_icons {
    text-align: center;
}

.footer_icons > li {
    display: inline;
}

.footer_icons i {
    font-size: 0.8em;
    margin: 1%;
    padding: 5%;
    color:#9c6813;
}

.footer_icons i:hover {
    color: #324960;
}

/* MEDIA QUERIES */

@media (min-width: 360px) {
    #hero_intro {
        width: 30%;
        height: 20%;
        padding: 15px;
        font-size: 0.6em;
         }       
    #v2_img_130 {
        max-width: 300px;
        max-height: 300px;
         }
    .v2 {
        border: 0;
    }
}

@media (min-width: 576px) {
    #header {
    max-height: 200px;
    }
    #logo {
        font-size: 1.2em;
    }
    #menu {
        font-size: 0.8em;
    }
    #hero_intro {
    width: 30%;
    height: 20%;
    padding: 20px;
    font-size: 0.8em;
    } 
    
    .pal_div>img {
    width: 400px;
    height: 300px;
    }

    #v2_img_130 {
        max-width: 400px;
        max-height: 400px;
         }

    .v2 {
        max-width: 250px;
        border: 0;
    }
    .about_div img {
    width: 400px;
    height: 300px;
    margin: 0 auto;
    }
    #fname, #lname, #email {
        width: 400px; 
    }
    #message {
        width: 500px;
    }
    .footer_icons i {
        font-size: 1.2em;
    }
}

@media (min-width: 992px) {
    #logo {
        font-size: 2em;
    }
    #menu {
        font-size: 1.2em;
    }
    #hero_intro {
        width: 35%;
        height: 25%;
        padding: 40px;
        font-size: 1.4em;
        line-height: 1.6em;
    }
    #v2_img_130 {
        max-width: 500px;
        max-height: 500px;
    }       
     #container_1 {
        display: flex;
    }
    #container_2 {
        display: flex;
        justify-content: space-between;
    }
    .v2 {
        max-width: 600px;
        box-sizing: border-box;
    }
     #container_3 {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
     }
     .mokeup_img {
         max-width: 300px;
         flex: 1;
     }
    
    #team_container {
    display: flex;
    justify-content: space-between;
    }
    .about_div {
    flex: 1;
    }
    #contact_container {
        background-color:#eeece8;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        padding-bottom: 50px;
    }  
    #fname, #lname, #email {
        width: 365px; 
    }
    #message {
        width: 500px;
    }
    footer {
        height: 150px;
    }
    .footer_icons i {
        font-size: 1.5em;
    }
}