@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
}

#hero {
    height: 600px;
    background: yellow;
}

#project {
    height: 450px;
    background: blue;
}

#about {
    height: 300px;
    background: pink;
}

#footer {
    height: 150px;
    background: cream;
}